.activity {
  /* border: 1px solid red; */
  border-radius: 4px;
  background-color: white;
  position: relative;
}
.activity img {
  width: 332px;
  height: 280px;
  object-fit: cover;
  margin: 15px;
  border-radius: 4px;
  margin-bottom: 0;
}
.activity-text {
  padding: 15px;
  margin-bottom: 45px;
}
.activity-text h4 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}
.activity-text p {
  margin-top: 7px;
}
.activity-text p > small {
  font-weight: bold;
}
.list-btn {
  background-color: lightblue;
  border: none;
  padding: 7px 12px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  bottom: 20px;
}
.list-btn:hover {
  /* background-color: rgb(107, 184, 209); */
  background-color: rgb(88, 202, 88);
}
