.singleBreak button {
  background-color: white;
  border: none;
  font-size: 20px;
  line-height: 120%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.singleBreak button:hover {
  background-color: rgb(88, 202, 88);
}
.singleBreak button:active {
  background-color: lightblue;
}
