.layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.layout-left {
  background-color: #f2f4fa;
}
.layout-right {
  margin: 45px;
}
.break-container {
  margin-top: 2rem;
}
.break-container h2 {
  margin-bottom: 0;
}
.break {
  background-color: #f2f4fa;
  margin-top: 1rem;
  padding: 20px 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.break h4,
.break p {
  margin: 0;
}
.break p {
  font-weight: bold;
}
.activity-btn {
  margin-top: 2rem;
  background-color: lightblue;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 15px 15px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.activity-btn:hover {
  background-color: rgb(88, 202, 88);
}
/* responsive */
@media only screen and (max-width: 992px) {
  .layout {
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
  }
  /* .layout-right {
    margin-left: 2.5%;
  } */
}
